<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
		<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
		<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
		<li><a href="login.html"><i class="fa fa-lock"></i> Register/Login</a></li>
	</ul>
</div>