<?php if ($modules) { ?>
<column id="column-left" class="col-sm-3 hidden-xs left-sidebar">
  <!-- <div class="left-sidebar"> -->
  <?php foreach ($modules as $module) { ?>
  <?php echo $module; ?>
  <?php } ?>
  <!-- </div> -->
</column>
<?php } ?>
